* {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #666;
    /* box-sizing: border-box; */
    overflow-x: hidden;
}


.colors {
    color: pink;
    color: #FF007F;
    color: #CC0066;
    color: #319055;
    color: #003366;
    color: #36454F;
    color: #007F86;
    color: #007F86;
}